:root{
  --main-red: #e50914;
  --main-dark: #333;
}
@font-face{
  font-family: 'Netflix Regular';
  src: url('./assets/fonts/NetflixSans_W_Rg.woff2');
}
@font-face{
  font-family: 'Netflix Medium';
  src: url('./assets/fonts/NetflixSans_W_Md.woff2');
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Netflix Regular', 'Helvetica';
}
h1{
  font-size: 3.125rem;
}
h2{
  font-size: 1.625rem;
}
h3{
  font-size: 18px;
}